<table border="1" cellpadding="5" cellspacing="1">
  <tr>
    <th>Name</th>
    <th>Start Year</th>
    <th>Stop Year</th>
    <th># of Matches</th>
    <th>Actions</th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= link_to "#{season}", season %></td>
    <td align="right"><%= season.start_year %></td>
    <td align="right"><%= season.stop_year %></td>
    <td align="right"><%= season.matches.count %></td>
    <td>
      <%= link_to "Change", edit_season_path(season) %>&nbsp;/
      <%= link_to "Remove", season, :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add a New Season", new_season_path %>
