<div id="Editor">
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this Game from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th>Game #</th>
      <td><%= f.text_field :ordinal %></td>
    </tr>
    <tr>
      <th><%= f.label :match %></th>
      <td><%= f.collection_select(:match_id, Match.all, :id, :match_date)%></td>
    </tr>
      <th>Players</th>
      <td>
        <table>
        <% @players.each do |player| %>
          <tr>
            <td><%= check_box_tag "player_ids[]", "#{player.id}", @game.players.include?(player) -%></td>
            <td><%= player %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </table>
  <p/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
