<p/>
<table border="1" cellpadding="5" cellspacing="3">
  <tr>
    <th align="right">Match:</th>
    <td><%= link_to @game.match.match_date, match_path(@game.match) %></td>
  </tr>
  <tr>
    <th align="right">Game #</th>
    <td><%= @game.ordinal %></td>
  </tr>
  <tr>
    <th align="right">Players:</th>
    <td>
      <% if @game.players.empty? %>
      <i>None</i>
    <% else %>
      <table border="0" cellpadding="3" cellspacing="3">
        <% for gp in @game.game_players %>
        <tr>
          <td><%= gp.place %>.</td>
          <td><%= link_to "#{gp.player}", player_path(gp.player) %></td>
          <td>(<%= gp.points %>)</td>
          <td>
        <% unless gp.place == 1 %> 
          <%= link_to "[up]", {:controller => :players, :action => 'move', :method => 'move_higher', :game_player_id => gp.id} %> 
        <% end %> 
        <% unless gp.last? %> 
          <%= link_to "[down]", {:controller => :players, :action => 'move', :method => 'move_lower', :game_player_id => gp.id} %> 
        <% end %>
          </td>
        </tr>
      <% end %>
      </table>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Actions</th>
    <td><%= link_to "Choose Players", :action => :edit, :id => @game.id %></td>
  </tr>
</table>
<p/>
