<h3>Showing all Players for <%= @game %></h3>
<%= form_for @game do |f| %>
  <table>
  <% for player in Player.all %>
    <tr>
      <td><%= check_box_tag "game[player_ids][]", "#{player.id}", @game.players.include?(player) -%></td>
      <td><%= player %></td>
    </tr>
  <% end %>
</table>
<%= f.submit "Update Players" %>
<% end %>

