<table>
  <tr>
    <th>Place</th>
    <th>Player</th>
    <th>Total Points</th>
    <th>Games Played</th>
    <% if changes_allowed? %>
      <th class="actions">Actions</th>
    <% end %>
  </tr>
  <%
    i = 1
    @players.each do |player|
      if player.season_games(@season.id).count > 0
    %>
    <tr>
      <td><%= i %></td>
      <td><%= link_to("#{player.full_name}", player) %></td>
      <td class="numeric"><%= player.season_total_points(@season.id) %></td>
      <td class="numeric"><%= player.season_games(@season.id).count %></td>
      <% if changes_allowed? %>
        <td class="actions">
          <%= link_to "Change", edit_player_path(player) %>&nbsp;/
          <%= link_to "Remove", player, :confirm => "Are you sure?", :method => :delete %>
        </td>
      <% end %>
    </tr>
    <%
      i += 1
    end
  end 
%>
</table>
<p/>
  <% if changes_allowed? %>
    <%= link_to "Add a New Player", new_player_path %>
  <% end %>
