<h1>Showing All Players</h1>

<table border="1" cellpadding="5" cellspacing="1">
  <tr>
    <th>Player #</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th colspan="3">Actions</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.id %></td>
    <td><%= player.first_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.email %></td>
    <td><%= player.phone %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Player', new_player_path %>
