<table class="uk-table uk-align-center">
  <tr>
    <th class="uk-width-2-10">Season</th>
    <th class="uk-width-2-10">Match</th>
<% if changes_allowed? %>
    <th class="uk-width-2-10">Actions</th>
  </tr>
<% end %>
<%
  if !@matches.empty?
%>
  <tr>
  <td rowspan="<%= @matches.count %>"><%= link_to @season, season_path(@season.id) -%></td>
<%
      @matches.each { |match|
%>
    <td><%= link_to "#{match}", match %></td>
<% if changes_allowed? %>
    <td class="actions">
      <%= link_to "Change", edit_match_path(match), class: "uk-button uk-button-primary uk-button-small" -%>
      <%= link_to "Remove", match, class: "uk-button uk-button-danger uk-button-small", method: :delete, data: {confirm: "Are you sure?"} %>
    </td>
<% end %>
  </tr>
<%
      }
    else
%>
  <tr>
    <td><%= @season %></td>
    <td colspan="4">No Matches</td>
  </tr>
<%
  end
%>
</table>
<p/>
<% if changes_allowed? %>
  <%= link_to "Add a New Match", new_match_path, class: "uk-button" %>
<% end %>
