<table border="1" cellpadding="5" cellspacing="1">
  <tr>
    <th>Season</th>
    <th>Match</th>
    <th colspan="2">Actions</th>
  </tr>
<%
  Season.all.each do |season|
    if !season.matches.empty?
%>
  <tr>
  <td rowspan="<%= season.matches.count %>"><%= season %></td>
<%
      season.matches.each { |match| 
%>
    <td><%= link_to "#{match}", match %></td>
    <td>
      <%= link_to "Change", edit_match_path(match) %>&nbsp;/
      <%= link_to "Remove", match, :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
<%
      }
    else
%>
  <tr>
    <td><%= season %></td>
    <td colspan="4">No Matches</td>
  </tr>
<%
    end 
  end
%>
</table>
<br />
<%= link_to "Add a New Match", new_match_path %>
