<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
  <head>
    <title><%= ApplicationHelper.ShortName %> &raquo; <%= @page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.xx.x/js/uikit.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body class="uk-height-1-1">
    <div class="uk-container uk-container-center uk-margin-top uk-width-6-10" role="main">
      <%= link_to(image_tag("sppl_banner.gif", :alt => "#{ApplicationHelper.Name}", class: "uk-align-center"), "/" ) %>

      <% if alert %>
        <div class="uk-alert uk-alert-danger" role="alert"><%= alert %></div>
      <% end %>

      <% if notice %>
        <div class="uk-alert uk-alert-success" role="alert"><%= notice %></div>
      <% end %>

      <%= render "layouts/navigation" %>

      <%= yield %>

      <div class='uk-vertical-align uk-text-center uk-height-1-1'>
        <div class='panel panel-info'>
          <div class="uk-vertical-align-middle">
            <p>Version 5 :: Copyright 2011-16 :: <a href="http://www.ngzax.com">Daryl Richter</a> :: All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
